.chatbox-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .chatbox-left{
    // vertical-align: top;
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    // height: 100%;
    // width: 18%;
    // display: inline-block;
    .chatbox-userbox{
      nav{
        .userbox-element{
          display: block;
        }
      }
    }

    .chatbox-serverlist{
      // border: 1px solid black;
      border-top: 1px solid black;
      // height: 100%;
      overflow: auto;
      flex-grow: 1;
      ul{
        list-style: none;
      }
      .sl-server-entry, .serverlist-entry{
        cursor: pointer;
      }
      .serverlist-entry{
        margin-left: 10px;
      }

      .sl-entry-selected{
        background-color: pink;
      }

      .sl-dropdown-hidden{
        display: none;
      }
    }
  }

  .chatbox-content{
    // display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    // width: 70%;
    flex-grow: 1;
    .chatbox-header{
      // border: 1px solid black;
      border-left: 1px solid black;
      height: 10%;
      flex-basis: 100%;
      h1{
        margin: 0;
        padding: 0;

      }
    }
    .chatbox-lower{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 90%;
      .chatbox-msgs-input{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        // height: 90%;
        height: 100%;
        flex-grow: 1;
        // border: 1px solid black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        // width: 70%;
        // vertical-align: top;
        // display: inline-block;
        .chatbox-messages{
          // width: 100%;
          // flex-basis: 1;
          flex-grow: 1;
          height: 90%;
          overflow-y: scroll;
          overflow-x: auto;
        }
        .chatbox-input{
          // border: 1px solid black;
          border-top: 1px solid black;
          display: flex;
          height: 10%;
          width: 100%;
          flex-direction: row;
          form{
            flex-grow: 1;
            // height: 35px;
            height: 100%;
            display: flex;
            background-color: green;
            input{
              font-size: 14px;
              display: inline-block;
              flex-grow: 1;
              height: 100%;
              border: 0;
              margin: 0;
              padding: 0;
              // width: 300px;
              // width: 100%;
            }
            button{
              width: 75px;
              // display: inline-block;
              // flex-basis: 20px;
            }
          }
        }
      }
      .chatbox-userlist{
        // vertical-align: top;
        // display: inline-block;
        // width: 15%;
        // border: 1px solid black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        flex-basis: 15%;
        // flex-grow: 1;
        // height: 70vh;
        overflow-y: scroll;
        overflow-x: auto;
      }
    }


  }
}
