@media screen and (min-width: 769px) {
  body{
    // display: none;
  }
  .chatbox-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
  }
  .chatbox-left{
    position: static;

    height: 100%;
    max-width: 200px;
  }
  .chatbox-userbox{
    // flex-direction: column;
    nav{
      flex-direction: column;
    }
    div{
      // display: block;
      // display: inline-block;
    }
  }

  .session-container{
    max-width: 500px;
    margin: 2em auto;
  }


  .chatbox-header{
    padding: 5px 10px;
    // height: 2.5em;
    border: 1px solid $border-dark;
    box-shadow: 0 2px 5px #888888;
    max-height: 2.5em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $header-blue;
    color: white;

    h1{
      // line-height: 100%;
      overflow-y: auto;
      height: 100%;
      font-size: 12px;
      line-height: normal;
      font-weight: normal;
      text-align: left;
      // span{
      //   text-shadow: 2px 0 5px #888888;
      //   color: white;
      // }
    }

  }


  .chatbox-userlist{
    position: static;
    display: inline-block;
    height: 100%;
    max-width: 150px;
  }

  .header-button{
    display: none;
  }
}

.hidden{
  display: none;
}
