$background-gray: #f6f6f6;
$border-light: #e7e7e7;
$border-dark: #b3b3b3;
$icon-blue: #007aff;
$placeholder-gray: #aaaaaa;
$header-blue: #94a3bc;
$slack-green: #38978D;
$slack-purple: #4D394B;
$indie-black: #2a2a2a;
$slack-gray: #717274;
$indie-pink: #EB1478;
$indie-purple: #7A69B3;
$time-gray: #adadad;
